= turbo_frame_tag 'setup_nav' do
  = render partial: 'shared/accounts/setup/nav', locals: { active: 'basic' }
= turbo_frame_tag 'show' do
  .px-8.pb-8.justify-center.animate__animated.animate__heartBeat
    = render partial: '/accounts/setup/email_verification/form', locals: { account: @account}
